services:
  postgres:
    image: postgres:16
    container_name: sales_courses_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sales_courses
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    image: node:20
    container_name: api_nest
    working_dir: /app
    volumes:
      - .:/app
    command: npm run start:dev
    env_file:
      - .env
    ports:
      - "3001:3000"
    depends_on:
      - postgres

volumes:
  postgres_data:
